@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.responsive {
  width: 100%; /* 在小于最大宽度的视窗中，宽度为视窗的 100% */
  height: auto; /* 高度自动根据宽度调整 */
}

.three-body {
 --uib-size: 35px;
 --uib-speed: 0.8s;
 --uib-color: #5D3FD3;
 position: relative;
 display: inline-block;
 height: var(--uib-size);
 width: var(--uib-size);
 animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
 position: absolute;
 height: 100%;
 width: 30%;
}

.three-body__dot:after {
 content: '';
 position: absolute;
 height: 0%;
 width: 100%;
 padding-bottom: 100%;
 background-color: var(--uib-color);
 border-radius: 50%;
}

.three-body__dot:nth-child(1) {
 bottom: 5%;
 left: 0;
 transform: rotate(60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite ease-in-out;
 animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
 bottom: 5%;
 right: 0;
 transform: rotate(-60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite
    calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
 bottom: -5%;
 left: 0;
 transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
 top: 0;
 left: 0;
 animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

@keyframes wobble1 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(-66%) scale(0.65);
  opacity: 0.8;
 }
}

@keyframes wobble2 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(66%) scale(0.65);
  opacity: 0.8;
 }
}


body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

#container {
  width: 100%; /* 宽度自适应，但不超过最大宽度 */
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  justify-content: center;
  width:100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  /*height: 100%;*/
}

#my-svg {
  width: 100%;
  height: auto;
}

#loading-animation {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;

}

.ARbutton {
  text-decoration: none;
  position: fixed;
  bottom: 6vh;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  font-size: 2vw;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  width: 25vw; /* 视口宽度的 25% */
  height: 4vw; /* 视口宽度的 4% */
  min-width: 175px; /* 最小宽度 */
  max-width: 400px; /* 最大宽度 */
  min-height: 40px; /* 最小高度 */
  max-height: 60px; /* 最大高度 */
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

.ARbutton:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.ARbutton:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 30px;
  transition: 1s;
}

.ARbutton:hover::before {
  filter: blur(20px);
}

.ARbutton:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}


button1 {
  padding: 4vw 8vw;
  text-transform: uppercase;
  border-radius: 1.6vw;
  font-size: 3vw;
  font-weight: 500;
  color: #ffffff;
  text-shadow: none;
  background: #1a2f6f90;
  cursor: pointer;
  box-shadow: transparent;
  border: 0.2vw solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
  position: absolute; /* 设置按钮为相对定位 */
  bottom: 5%; /* 从底部开始定位 */
  left: 50%; /* 居中 */
  transform: translateX(-50%); /* 居中 */
}

.image-wrapper #btn:hover,
.image-wrapper :focus {
  color: #ffffff;
  background: #008cff;
  border: 0.2vw solid #008cff;
  text-shadow: 0 0 1vw #ffffff, 0 0 2vw #ffffff, 0 0 4vw #ffffff;
  box-shadow: 0 0 1vw #008cff, 0 0 4vw #008cff, 0 0 10vw #008cff,
    0 0 20vw #008cff;
}

.image-wrapper {
  display: flex; /* 使用Flexbox布局 */
  justify-content: space-around; /* 图片之间平均分配空间 */
}

.image-container {
  position: relative; /* 设置相对定位 */
}

.xd {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 1080/1920 = 0.5625 */
    overflow: hidden;
}

.xd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bw-image,
.color-image {
  width: 100%; /* 图片宽度设置为容器的100% */
  transition: opacity 0.5s ease-in-out; /* 平滑过渡效果 */
}

.bw-image {
  opacity: 1; /* 默认黑白图片可见 */
  filter: grayscale(100%); /* 应用黑白滤镜 */
}

.color-image {
  opacity: 0; /* 默认彩色图片不可见 */
  position: absolute; /* 绝对定位，覆盖黑白图片 */
  top: 0;
  left: 0;
}

.image-container:hover .color-image {
  opacity: 1; /* 鼠标悬浮时彩色图片显示 */
  transform: scale(1.02);
}


.animated-button {
  position: fixed;
  top: 2vh; /* 距离顶部0 */
  left: 2vw; /* 距离左侧0 */
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2.1vw 3.5vw;
  border: 4px solid;
  border-color: transparent;
  font-size: 1.5vh;
  width: auto;
  background-color: #33333380;
  backdrop-filter: blur(10px); /* 高斯模糊效果 */
  border-radius: 10px;
  font-weight: 600;
  color: #33333380;
  box-shadow: 0 0 0 2px #33333380;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #ffffff;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translateX(10px) rotate(180deg) scale(1.5);
}

.animated-button .arr-1 {
  right: 50%;
}

.animated-button .arr-2 {
  left: -100%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #33333380;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-8px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -100%;
}

.animated-button:hover .arr-2 {
  left: 20%;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
  transform: rotate(180deg);
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #33333380;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.buttontop {
  position: fixed; 
  right: 5vw; 
  bottom: 10vh; 
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  background-color: #33333380;
  backdrop-filter: blur(10px);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px #33333380;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s, visibility 0s linear 0.6s, width 0.3s, height 0.3s, border-radius 0.3s, background-color 0.3s;
  z-index: 1000;
}

.buttontop.hidden {
  opacity: 0;
  visibility: hidden;
}

.buttontop.show {
  opacity: 1; 
  visibility: visible; 
  transition-delay: 0s; 
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
  transform: scale(1.5);
}

.svgIcon path {
  fill: white;
}

.buttontop:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #21212195;
  backdrop-filter: blur(10px);
  align-items: center;
}

.buttontop:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-300%);
}

.buttontop::before {
  position: absolute;
  bottom: -20px;
  content: "返回顶部";
  color: white;
  font-size: 0px;
}

.buttontop:hover::before {
  font-size: 16px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}

/* 按钮定位样式 */
.image-with-button {
  position: relative;
  display: inline-block;
}

.image-with-button .learn-more {
  position: absolute;
  left: 50%; /* 水平居中 */
  bottom: 10%; /* 距离底部 10%，实现中间偏下 */
  transform: translateX(-50%); /* 水平居中微调 */
}

/* 视频模态框样式优化 */
/* 添加高斯模糊过渡动效 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    opacity: 0;
    backdrop-filter: blur(0px);
    transition: opacity 0.5s ease, backdrop-filter 0.5s ease, display 0.5s ease;
}

.modal.show {
    display: flex;
    opacity: 1;
    backdrop-filter: blur(5px);
}

.modal-content {
  position: relative;
  max-width: 90%; 
  max-height: 90vh; 
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
}

.portfolio-video {
  border-radius: 10px;
}

/* 关闭按钮样式优化 */
.close-video-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #fff;
    font-size: 28px; /* 调整字体大小 */
    font-weight: 300; /* 调整字体粗细 */
    transition: color 0.3s ease;
}

.close-video-btn:hover,
.close-video-btn:focus {
    color: #ccc; /* 悬停颜色 */
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
  .animated-button {
    padding: 2.7w 4.5vw; /* 减小填充 */
    font-size: 1.5vh; /* 减小字体大小 */
    width: auto; /* 调整宽度 */
  }
  .animated-button svg {
  transform: translateX(10px) rotate(180deg) scale(1.2);
}
  .animated-button .arr-2 {
  left: -200%;
  }
  .animated-button:hover .arr-2 {
  left: 6%;
  }
  .ARbutton {
  font-size: 2.8vw; /* 增加字体大小 */
  width: 35vw; /* 增加按钮宽度 */
  height: 5.6vw; /* 增加按钮高度 */
  bottom: 5vh; /* 调整底部位置 */
  }
   .buttontop {
    width: 8vw; /* 增加宽度 */
    height: 8vw; /* 增加高度 */
    right: 3vw; /* 调整右边距 */
    bottom: 5vh; /* 调整底部距离 */
  }
  .svgIcon {
  transform: scale(1.3);
  }
}

/* 当屏幕宽度小于480px时 */
@media (max-width: 480px) {
  .animated-button {
    padding: 3vw 5vw; /* 更小的填充 */
    font-size: 2vh; /* 更小的字体大小 */
    width: auto; /* 调整宽度 */
  }
  .animated-button svg {
  transform: translateX(10px) rotate(180deg) scale(1);
}
  .animated-button .arr-2 {
   left: -200%;
  }
  .animated-button:hover .arr-2 {
   left: 15%;
  }
  .ARbutton {
   font-size: 3.5vw; /* 增加字体大小 */
   width: 45vw; /* 增加按钮宽度 */
   height: 7.2vw; /* 增加按钮高度 */
   bottom: 6vh; /* 调整底部位置 */
  }
  .buttontop {
    width: 10vw; /* 进一步增加宽度 */
    height: 10vw; /* 进一步增加高度 */
    right: 2vw; /* 进一步调整右边距 */
    bottom: 3vh; /* 进一步调整底部距离 */
  }
  .svgIcon {
  transform: scale(1.1);
  }
}

/* 新按钮样式，使用命名空间避免冲突 */
.portfolio-video-button {
    /* 新按钮样式代码 */
    button { 
        position: relative; 
        display: inline-block; 
        cursor: pointer; 
        outline: none; 
        border: 0; 
        vertical-align: middle; 
        text-decoration: none; 
        background: transparent; 
        padding: 0; 
        font-size: inherit; 
        font-family: inherit; 
    } 
    
    button.learn-more { 
        width: 12rem; 
        height: auto; 
    } 
    
    button.learn-more .circle { 
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); 
        position: relative; 
        display: block; 
        margin: 0; 
        width: 3rem; 
        height: 3rem; 
        background: #282936; 
        border-radius: 1.625rem; 
    } 
    
    button.learn-more .circle .icon { 
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); 
        position: absolute; 
        top: 0; 
        bottom: 0; 
        margin: auto; 
        background: #fff; 
    } 
    
    button.learn-more .circle .icon.arrow { 
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); 
        left: 0.625rem; 
        width: 1.125rem; 
        height: 0.125rem; 
        background: none; 
    } 
    
    button.learn-more .circle .icon.arrow::before { 
        position: absolute; 
        content: ""; 
        top: -0.29rem; 
        right: 0.0625rem; 
        width: 0.625rem; 
        height: 0.625rem; 
        border-top: 0.125rem solid #fff; 
        border-right: 0.125rem solid #fff; 
        transform: rotate(45deg); 
    } 
    
    button.learn-more .button-text { 
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); 
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        padding: 0.75rem 0; 
        margin: 0 0 0 1.85rem; 
        color: #ebebeb; 
        font-weight: 700; 
        line-height: 1.6; 
        text-align: center; 
        text-transform: uppercase; 
    } 
    
    button:hover .circle { 
        width: 100%; 
    } 
    
    button:hover .circle .icon.arrow { 
        background: #fff; 
        transform: translate(1rem, 0); 
    } 
    
    button:hover .button-text { 
        color: #fff; 
    }
}
